@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root{
    --primary-color: #4F46E5;
    --base-blue: #93C5FD;
}

body{
    margin: 0rem;
    padding: 0rem;
    background-color: var(--base-blue);
    background-image: 
    url('./im-196660.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.container {
    padding: 0;
}

.container-center {
    max-width: 500px;
    min-height: 56vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    
}

/* nav changes */


.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;   
}

.navigation .nav-brand {
    font-weight: 700;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* list changes */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
}

/*textarea*/

.textarea{
    width: 74%;
    height: 10vh;
    margin: 1rem auto;
    padding: 2rem 2rem;
    border-radius: 10px;
}

.button {
    
    padding: 0.2rem 4rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0.2rem 5rem;
}

.output-div{
    width: 74%;
    height: 10vh;
    margin: 1rem auto;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
}

.footer {
    background-color: var(--primary-color);
    padding: 0.8rem 0rem;
    text-align: center;
    color: white;
    margin: 0;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    padding-bottom: 1rem;
}

.header {
    text-align: center;
}
.header-primary{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.95rem 2rem;
    color: hsl(0, 0%, 100%);
    

}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
    padding-bottom: 1rem;
}

.footer .footer-content {
    display: flex;
    font-size: 1rem;
    padding: 0rem 1rem;
    margin: 1rem 1rem;
    justify-content: center;
}

.british-background{
    background-image: 
    url('./im-196660.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.german-background{
    background-image: 
    url('./im-196662.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}